- hosts: all
  name: Install SSH Server
  tasks:
  - package: name=openssh-server state=present
  - template:
      src: sshd_config
      dest: /etc/ssh/sshd_config
      owner: root
      group: root
      mode: 0644
    notify:
    - restart ssh
  - service: name=ssh state=started
  handlers:
  - name: restart ssh
    service: name=ssh state=restarted
